name: CICULLIS

on:
  pull_request:

permissions: {}

env:
  LC_ALL: C
  TZ: UTC

jobs:
  cicullis:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v4

      - name: Run CICULLIS
        uses: midiakiasat/cicullis@569b496eb09e4df687c56fc0dceb4abdc8d5479d
        with:
          profile: profiles/default.profile
