name: OpenSSF Scorecard

on:
  branch_protection_rule:
  workflow_dispatch:
  schedule:
    - cron: "30 1 * * 6"
  push:
    branches: [main]

permissions: {}

env:
  LC_ALL: C
  TZ: UTC

jobs:
  scorecard:
    name: scorecard
    runs-on: ubuntu-latest
    permissions:
      contents: read
      security-events: write
      id-token: write

    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
        with:
          persist-credentials: false
          fetch-depth: 0

      - name: Run OpenSSF Scorecard
        uses: ossf/scorecard-action@4eaacf0543bb3f2c246792bd56e8cdeffafb205a
        with:
          results_file: results.sarif
          results_format: sarif
          publish_results: true

      - name: Upload SARIF
        uses: github/codeql-action/upload-sarif@9e907b5e64f6b83e7804b09294d44122997950d6
        with:
          sarif_file: results.sarif
